<h1>Редактировать {{product.title}}</h1>

<form action="/products/edit" method="post">
    <div class="input-field">
        <input id="title" name="title" type="text" class="validate" required value="{{product.title}}">
        <label for="title">Название товара</label>
        <span class="helper-text" data-error="введите название товара"></span>
    </div>

    <div class="input-field">
        <input id="price" name="price" type="number" class="validate" required value="{{product.price}}">
        <label for="price">Цена товара</label>
        <span class="helper-text" data-error="введите цену товара"></span>
    </div>

    <div class="input-field">
        <input id="image" name="image" type="text" class="validate" required value="{{product.image}}">
        <label for="image">URL картинки товара</label>
        <span class="helper-text" data-error="введите URL картинки товара"></span>
    </div>

    <input type="hidden" name="id" value="{{product.id}}">

    <button class="btn btn-primary">Редактировать товар</button>
</form>